@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --primary-color: #05c0a1;
    --background-color: #f8f9fa;
    --black-color: black;
    --white-color: white;
    --transparent-black: rgba(0,0,0,0.7);
}

body {
    font-family: 'Roboto Condensed', sans-serif !important;
}


.testimonials {
    background-image: url(../images/testimonials-bg.png);
    background-size: cover;
    background-color: var(--black-color);
    text-align: center;
    padding-bottom: 4rem;
    margin-bottom: 0;
    width: 100%;
  }
  
  .testimonials h1 {
    color: var(--black-color);
    padding: 3rem 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5rem;

}
  
  .testimonials-content {
    text-align: center;
    max-width: 53.125rem;
    margin: 0 auto 2rem auto;
    background: var(--transparent-black); 
  }
  
  .myCarousel {
    color: var(--white-color);
    background: transparent;
    margin-top: -6%;
    width: 54%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6%;
    padding-bottom: 8%;
    padding-left: 5%;
    padding-right: 5%;
    height: 17.875rem;
  }
  
  .myCarousel h3 {
    margin-top: 2rem;
    color: var(--primary-color);
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .myCarousel p {
    color: var(--background-color);
  }
  
  .carousel .slide img {
    width: 10rem !important;
    border-radius: 50%;
  }
  
  .carousel .slide {
    background: transparent !important;
    height: 100% !important;
    padding-top: 2rem;
  }
  
  .carousel-root {
    margin: auto !important;
    margin-top: 3% !important;
  }

  @media(max-width: 768px) {
    .testimonials-content {
      max-width: 19.125rem
      
    }
    .container{
      margin-left: 3px;
    }

  }