.header {
  width: 100vw;
  height: 80px;
  border-radius: 0px 0px 15px 15px;
  position: fixed;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

.header .content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
}

.header .content .logo {
  height: 70%;
}

.header .content .button button {
  width: 200px;
  height: 46px;
  border: none;
  font-size: 14px;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.35);
  border-radius: 23px;
  color: #ffffff;
  background: #7499f1;
  font-weight: 400;
  transition: all .2s;
}

.header .content .button :hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.header .content .button .home {
  width: 100px;
  height: 46px;
  margin-left: 40px;
}
